<!-- Banner -->
	<section id="banner">
		<div class="inner split">
			<section>
				<h2>Welcome to Prism, a free responsive site template by <a href="http://templated.co">TEMPLATED</a></h2>
			</section>
			<section>
				<p>Lorem ipsum nisl sed cursus magna et amet veroeros. Phasellus aliquam et tempus lorem dolor feugiat adipiscing lorem.</p>
				<ul class="actions">
					<li><a href="#" class="button special">Get started</a></li>
				</ul>
			</section>
		</div>
	</section>