<!-- Two -->
<section id="two" class="wrapper style2 alt">
	<div class="inner">
		{% for post in site.posts %}
		<div class="spotlight">
			<div class="image">
				<img src="{{ site.baseurl }}/{{ post.image_path }}" alt="" />
			</div>
			<div class="content">
				<h3>{{ post.title }}</h3>
				<p>{{ post.short_description }}</p>
				<ul class="actions">
					<li><a href="{{ site.baseurl }}{{ post.url }}" class="button alt">Details</a></li>
				</ul>
			</div>
		</div>
		{% endfor %}
		<ul class="actions special">
			<li><a href="#" class="button alt">Ipsum magna tempus</a></li>
		</ul>
	</div>
</section>



						