<!-- Contact -->
<section id="contact" class="wrapper">
	<div class="inner split">
		<section>
			<h2>Orci malesuada</h2>
			<p>Morbi pharetra vitae felis placerat pharetra. Nulla risus orci, dapibus id malesuada et nec, malesuada quis pellentesque eget.</p>
			<form action="#" class="alt" method="POST">
				<div class="row uniform">
					<div class="6u 12u$(xsmall)">
						<input name="name" placeholder="Name" type="text">
					</div>
					<div class="6u$ 12u$(xsmall)">
						<input name="email" placeholder="Email" type="email">
					</div>
					<div class="12u$">
						<textarea name="message" placeholder="Message" rows="4"></textarea>
						</div>
					</div>
					<ul class="actions">
						<li><input class="alt" value="Send message" type="submit"></li>
					</ul>
				</form>
		</section>
		<section>
			<ul class="contact">
				{% if site.social_links.twitter_url and site.social_links.twitter_url != "TWITTER_URL" %}
					<li class="fa-twitter"><a href="{{ site.social_links.twitter_url }}">{{ site.social_links.twitter_url }}</a></li>
				{% endif %}
				{% if site.social_links.facebook_url and site.social_links.facebook_url != "FACEBOOK_URL" %}
					<li class="fa-facebook"><a href="{{ site.social_links.facebook_url }}">{{ site.social_links.facebook_url }}</a></li>
				{% endif %}
				{% if site.social_links.instagram_url and site.social_links.instagram_url != "INSTAGRAM_URL" %}
					<li class="fa-instagram"><a href="{{ site.social_links.instagram_url }}">{{ site.social_links.instagram_url }}</a></li>
				{% endif %}
				{% if site.social_links.email and site.social_links.email != "EMAIL" %}
					<li class="fa-envelope"><a href="{{ site.social_links.email }}">{{ site.social_links.email }}</a></li>
				{% endif %}
				{% if site.social_links.address and site.social_links.address != "ADDRESS" %}
					<li class="fa-home">{{ site.social_links.address }}</li>
				{% endif %}
			</ul>
		</section>
	</div>
</section>
