---
layout: default
---
<!-- Main -->
<header>
	<h1 style="margin:20px 60px">{{ site.title }}</h1>
</header>
	
<section id="two" class="wrapper style2 alt">
	<div class="inner">	
		<h2>{{ page.title }}</h2>
			{% if page.short_description %}
				<p>{{ page.short_description }}</p>
			{% endif %}
		{% if page.image_path %}
			<a href="#" class="image"><img src="{{ site.baseurl }}/{{ page.image_path }}" alt=""  /></a>
		{% endif %}
	{{ content }}
	</div>
</section>
